/* Spacing ---------------- */
/* --sp-1: 0.25rem;
--sp-2: 0.5rem;
--sp-3: 0.75rem;
--sp-4: 1rem;
--sp-5: 1.25rem;
--sp-6: 1.5rem;
--sp-8: 2rem;
--sp-12: 3rem;
--sp-16: 4rem;
--sp-24: 6rem;
--sp-32: 8rem;
--sp-48: 12rem;
--sp-64: 16rem;
--sp-96: 24rem; */

/* Margin */
.m-0 {
  margin: 0;
}

.m-xxs {
  margin: var(--sp-1);
}

.m-xs {
  margin: var(--sp-2);
}

.m-sm {
  margin: var(--sp-3);
}

.m-md {
  margin: var(--sp-4);
}

.m-lg {
  margin: var(--sp-6);
}

.m-xl {
  margin: var(--sp-8);
}

.m-2xl {
  margin: var(--sp-12);
}

.m-3xl {
  margin: var(--sp-16);
}

.m-4xl {
  margin: var(--sp-24);
}

.m-5xl {
  margin: var(--sp-32);
}

/* Margin-block */
.m-bk-0 {
  margin-block: 0;
}

.m-bk-xxs {
  margin-block: var(--sp-1);
}

.m-bk-xs {
  margin-block: var(--sp-2);
}

.m-bk-sm {
  margin-block: var(--sp-3);
}

.m-bk-md {
  margin-block: var(--sp-4);
}

.m-bk-lg {
  margin-block: var(--sp-6);
}

.m-bk-xl {
  margin-block: var(--sp-8);
}

.m-bk-2xl {
  margin-block: var(--sp-12);
}

.m-bk-3xl {
  margin-block: var(--sp-16);
}

.m-bk-4xl {
  margin-block: var(--sp-24);
}

.m-bk-5xl {
  margin-block: var(--sp-32);
}

/* Margin-inline */
.m-in-0 {
  margin-inline: 0;
}

.m-in-xxs {
  margin-inline: var(--sp-1);
}

.m-in-xs {
  margin-inline: var(--sp-2);
}

.m-in-sm {
  margin-inline: var(--sp-3);
}

.m-in-md {
  margin-inline: var(--sp-4);
}

.m-in-lg {
  margin-inline: var(--sp-6);
}

.m-in-xl {
  margin-inline: var(--sp-8);
}

.m-in-2xl {
  margin-inline: var(--sp-12);
}

.m-in-3xl {
  margin-inline: var(--sp-16);
}

.m-in-4xl {
  margin-inline: var(--sp-24);
}

.m-in-5xl {
  margin-inline: var(--sp-32);
}

/* Margin-top */
.mt-0 {
  margin-top: 0;
}

.mt-xxs {
  margin-top: var(--sp-1);
}

.mt-xs {
  margin-top: var(--sp-2);
}

.mt-sm {
  margin-top: var(--sp-3);
}

.mt-md {
  margin-top: var(--sp-4);
}

.mt-lg {
  margin-top: var(--sp-6);
}

.mt-xl {
  margin-top: var(--sp-8);
}

.mt-2xl {
  margin-top: var(--sp-12);
}

.mt-3xl {
  margin-top: var(--sp-16);
}

.mt-4xl {
  margin-top: var(--sp-24);
}

.mt-5xl {
  margin-top: var(--sp-32);
}

/* Margin-bottom */
.mb-0 {
  margin-bottom: 0;
}

.mb-xxs {
  margin-bottom: var(--sp-1);
}

.mb-xs {
  margin-bottom: var(--sp-2);
}

.mb-sm {
  margin-bottom: var(--sp-3);
}

.mb-md {
  margin-bottom: var(--sp-4);
}

.mb-lg {
  margin-bottom: var(--sp-6);
}

.mb-xl {
  margin-bottom: var(--sp-8);
}

.mb-2xl {
  margin-bottom: var(--sp-12);
}

.mb-3xl {
  margin-bottom: var(--sp-16);
}

.mb-4xl {
  margin-bottom: var(--sp-24);
}

.mb-5xl {
  margin-bottom: var(--sp-32);
}

/* Margin-left */
.ml-0 {
  margin-left: 0;
}

.ml-xxs {
  margin-left: var(--sp-1);
}

.ml-xs {
  margin-left: var(--sp-2);
}

.ml-sm {
  margin-left: var(--sp-3);
}

.ml-md {
  margin-left: var(--sp-4);
}

.ml-lg {
  margin-left: var(--sp-6);
}

.ml-xl {
  margin-left: var(--sp-8);
}

.ml-2xl {
  margin-left: var(--sp-12);
}

.ml-3xl {
  margin-left: var(--sp-16);
}

.ml-4xl {
  margin-left: var(--sp-24);
}

.ml-5xl {
  margin-left: var(--sp-32);
}

/* Margin-right */

.mr-0 {
  margin-right: 0;
}

.mr-xxs {
  margin-right: var(--sp-1);
}

.mr-xs {
  margin-right: var(--sp-2);
}

.mr-sm {
  margin-right: var(--sp-3);
}

.mr-md {
  margin-right: var(--sp-4);
}

.mr-lg {
  margin-right: var(--sp-6);
}

.mr-xl {
  margin-right: var(--sp-8);
}

.mr-2xl {
  margin-right: var(--sp-12);
}

.mr-3xl {
  margin-right: var(--sp-16);
}

.mr-4xl {
  margin-right: var(--sp-24);
}

.mr-5xl {
  margin-right: var(--sp-32);
}

/* Padding */
.p-0 {
  padding: 0;
}

.p-xxs {
  padding: var(--sp-1);
}

.p-xs {
  padding: var(--sp-2);
}

.p-sm {
  padding: var(--sp-3);
}

.p-md {
  padding: var(--sp-4);
}

.p-lg {
  padding: var(--sp-6);
}

.p-xl {
  padding: var(--sp-8);
}

.p-2xl {
  padding: var(--sp-12);
}

.p-3xl {
  padding: var(--sp-16);
}

.p-4xl {
  padding: var(--sp-24);
}

.p-5xl {
  padding: var(--sp-32);
}

/* Padding-block */
.p-bk-0 {
  padding-block: 0;
}

.p-bk-xxs {
  padding-block: var(--sp-1);
}

.p-bk-xs {
  padding-block: var(--sp-2);
}

.p-bk-sm {
  padding-block: var(--sp-3);
}

.p-bk-md {
  padding-block: var(--sp-4);
}

.p-bk-lg {
  padding-block: var(--sp-6);
}

.p-bk-xl {
  padding-block: var(--sp-8);
}

.p-bk-2xl {
  padding-block: var(--sp-12);
}

.p-bk-3xl {
  padding-block: var(--sp-16);
}

.p-bk-4xl {
  padding-block: var(--sp-24);
}

.p-bk-5xl {
  padding-block: var(--sp-32);
}

/* Padding-inline */
.p-in-0 {
  padding-inline: 0;
}

.p-in-xxs {
  padding-inline: var(--sp-1);
}

.p-in-xs {
  padding-inline: var(--sp-2);
}

.p-in-sm {
  padding-inline: var(--sp-3);
}

.p-in-md {
  padding-inline: var(--sp-4);
}

.p-in-lg {
  padding-inline: var(--sp-6);
}

.p-in-xl {
  padding-inline: var(--sp-8);
}

.p-in-2xl {
  padding-inline: var(--sp-12);
}

.p-in-3xl {
  padding-inline: var(--sp-16);
}

.p-in-4xl {
  padding-inline: var(--sp-24);
}

.p-in-5xl {
  padding-inline: var(--sp-32);
}

/* Padding-top */
.pt-0 {
  padding-top: 0;
}

.pt-xxs {
  padding-top: var(--sp-1);
}

.pt-xs {
  padding-top: var(--sp-2);
}

.pt-sm {
  padding-top: var(--sp-3);
}

.pt-md {
  padding-top: var(--sp-4);
}

.pt-lg {
  padding-top: var(--sp-6);
}

.pt-xl {
  padding-top: var(--sp-8);
}

.pt-2xl {
  padding-top: var(--sp-12);
}

.pt-3xl {
  padding-top: var(--sp-16);
}

.pt-4xl {
  padding-top: var(--sp-24);
}

.pt-5xl {
  padding-top: var(--sp-32);
}

/* Padding-bottom */

.pb-0 {
  padding-bottom: 0;
}

.pb-xxs {
  padding-bottom: var(--sp-1);
}

.pb-xs {
  padding-bottom: var(--sp-2);
}

.pb-sm {
  padding-bottom: var(--sp-3);
}

.pb-md {
  padding-bottom: var(--sp-4);
}

.pb-lg {
  padding-bottom: var(--sp-6);
}

.pb-xl {
  padding-bottom: var(--sp-8);
}

.pb-2xl {
  padding-bottom: var(--sp-12);
}

.pb-3xl {
  padding-bottom: var(--sp-16);
}

.pb-4xl {
  padding-bottom: var(--sp-24);
}

.pb-5xl {
  padding-bottom: var(--sp-32);
}

/* Padding-left */

.pl-0 {
  padding-left: 0;
}

.pl-xxs {
  padding-left: var(--sp-1);
}

.pl-xs {
  padding-left: var(--sp-2);
}

.pl-sm {
  padding-left: var(--sp-3);
}

.pl-md {
  padding-left: var(--sp-4);
}

.pl-lg {
  padding-left: var(--sp-6);
}

.pl-xl {
  padding-left: var(--sp-8);
}

.pl-2xl {
  padding-left: var(--sp-12);
}

.pl-3xl {
  padding-left: var(--sp-16);
}

.pl-4xl {
  padding-left: var(--sp-24);
}

.pl-5xl {
  padding-left: var(--sp-32);
}

/* Padding-right */

.pr-0 {
  padding-right: 0;
}

.pr-xxs {
  padding-right: var(--sp-1);
}

.pr-xs {
  padding-right: var(--sp-2);
}

.pr-sm {
  padding-right: var(--sp-3);
}

.pr-md {
  padding-right: var(--sp-4);
}

.pr-lg {
  padding-right: var(--sp-6);
}

.pr-xl {
  padding-right: var(--sp-8);
}

.pr-2xl {
  padding-right: var(--sp-12);
}

.pr-3xl {
  padding-right: var(--sp-16);
}

.pr-4xl {
  padding-right: var(--sp-24);
}

.pr-5xl {
  padding-right: var(--sp-32);
}

/* Width ------------------ */
