.about-content {
    container: aboutpage-content / inline-size;
    width: 100%;
    height: auto;
    padding: 0; 
    background-color: var(--oe-green-yellow-300);
    
    .content-well > * {
      width: clamp(8rem, 90cqi, 60rem);
      padding-block: min(5vh, 2rem);
      margin-inline: auto;

      @container (min-width: 600px) {
        width: clamp(35rem, 85cqi, 55rem);
        padding-block: min(10vh, 3rem);
      }
    }
  }