/* Landing Page ********************************/
.homepage-content {
  container: homepage-content / inline-size;
  height: auto;

  .atf {
    min-height: 100svh;
    height: 100%;
    padding-top: 5.5rem;
  }

  .bg-img {
    z-index: -10;
    top: 0;
    left: 0;
    height: 100%;
    display: none;

    img {
      border-radius: 0;
      object-fit: cover;
      object-position: 50% 100%;
    }
    &.mobile {
      display: block;
    }

    @container homepage-content (width > 900px) {
      display: block;

      &.mobile {
        display: none;
      }
    }
  }

  .title,
  .subtitle {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, #c2410c, #78350f);
  }

  .title {
    padding-bottom: 0.25rem;
    font-size: clamp(1.5rem, calc(1.5rem + 4cqi), 4rem);
    font-weight: 700;
    letter-spacing: 0.025em;
    line-height: 1;
  }

  .subtitle {
    padding-block-start: var(--sp-xxs);
    font-weight: 500;
    line-height: 1.5;
  }

  .homepage-cta {
    .btn-secondary {
      background: var(--btn-gradient-5);
    }
  }

  .btf {
    background-color: #fef9c3;
  }

  @container homepage-content (width > 600px) {
    .homepage-cta {
      display: flex;
      justify-content: center;
    }
    .homepage-title .title {
      line-height: 1.25;
    }
  }

  @container homepage-content (width >= 900px) {
    .homepage-title {
      align-self: end;
      text-align: right;
    }

    .homepage-cta {
      display: flex;
      justify-content: end;
      padding-block-start: var(--sp-2xl);

      .btn-primary,
      .btn-secondary {
        width: auto;
      }
    }

    .blooming-now {
      padding-left: var(--sp-lg);
    }
  }

  .description {
    container: description / inline-size;

    .btn-primary {
      width: 100%;
    }

    @container description (width > 600px) {
      .btn-primary {
        width: auto;
      }
    }
  }

  @container homepage-content (width > 900px) {
    .atf {
      justify-content: start;

      .homepage-cta {
        padding-inline: var(--sp-md);
      }
    }
  }

  @container homepage-content (width > 1100px) {
    .btf {
      background-color: #f1f0caeb;
    }
  }
}
