.heroColors {
    --hero-bg-color: #fff;
    --hero-text-color: #000;
}

.containerHero {
    --hero-bg-color: #fff;
    --hero-text-color: #000;
    position: relative;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    color: var(--hero-text-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    // background-color: var(--hero-bg-color);

    @media screen and (max-width: 768px) {
        background-size: 180vh;
        background-position: 53% -3%;
    }
}

.containerTitle {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    padding-top: 1vh;
    background-color: transparent;
    z-index: 1;
    min-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}

.title {
    font-size: 5vw;
    line-height: 1rem;
    padding-right: 3vw;
    text-decoration: underline;
    text-underline-offset: 7px;
}

.subtitle {
    padding-right: 3vw;
    text-align: center;
    font-size: 0.75rem;
    line-height: normal;
}

.hRule {
    height: 3px;
    color: white;
}
