.season-page-content {
  --season-accent-color: var(--oe-green-800);
  --season-bg-color: #fff;
  --season-gradient: var(--spring-gradient);
  container: season-page-content / inline-size;
  position: relative;

  &.spring {
    --season-bg-color: var(--spring-bg-color);
    --season-accent-color: var(--spring-accent);
    --season-gradient: var(--spring-gradient);
    background-color: var(--season-bg-color);

    .banner-img img {
      object-position: top;
    }
  }
  
  &.summer {
    --season-bg-color: var(--summer-bg-color);
    --season-accent-color: var(--summer-accent);
    --season-gradient: var(--summer-gradient);
    background-color: var(--season-bg-color);

    .banner-img img {
      object-position: center;
    }
  }

  &.fall {
    --season-bg-color: var(--fall-bg-color);
    --season-accent-color: var(--fall-accent);
    --season-gradient: var(--fall-gradient);
    background-color: var(--season-bg-color);


    .banner-img img {
      object-position: 100% 15%;
    }
  }

  &.winter {
    --season-bg-color: var(--winter-bg-color);
    --season-accent-color: var(--winter-accent);
    --season-gradient: var(--winter-gradient);
    background-color: var(--season-bg-color);

    .banner-img img {
      object-position: top;
    }
  }

  .season-header {
    grid-area: header;
    container: season-header / inline-size;

    .heading-display {
      bottom: -3.8rem;
      margin-right: var(--sp-lg);
    }

    .heading-title {
      background: var(--season-gradient);
      background-clip: text;
      color: transparent;
      font-size: var(--fs-5xl);

      &::first-letter {
        text-transform: uppercase;
      }
    }

    .banner-img svg {
      position: absolute;
      bottom: -1px;
      width: 100%;
      height: 80px;
      fill: var(--season-bg-color);
      /* border-bottom: 3px solid var(--season-bg-color); */
    }
  }

  .season-body {
    grid-area: content;
    container: season-body / inline-size;
    margin-block: var(--sp-3xl);
    margin-inline: auto;
    width: 100%;
    
    > .port-text > *:not(.full-width) {
      max-width: 50rem;
      margin-inline: auto;
      padding-inline: var(--sp-xl);
    }
  }
  
  @container season-page-content (width > 600px) {
    .season-body {
      margin-block: var(--sp-4xl);
    }

    .season-header .heading-display {
      margin-right: var(--sp-xl);
      bottom: -4.25rem;
    }
    
    .season-header .heading-title {
      font-size: var(--fs-6xl);
    }
  }
  
  @container season-page-content (width > 900px) {
    .season-body {
      padding-inline: 0;
    }
    .heading-display .heading-title.display {
      font-size: var(--fs-8xl);
      font-weight: var(--fw-900);
    }
  }

  @container season-page-content (width > 1200px) {
    .season-body {
      margin-block: var(--sp-6xl);

      > .port-text > .img-grid {
        max-width: 60rem;
      }
    }

    .season-header .heading-display {
      bottom: -7.25rem;

      .heading-title.display {
        margin-right: 13%;
        font-size: 10rem;
      }
    }
  }


  /* Season Page Teaser Sections */
  .teaser-section {
    .teaser-section-grid {
      padding: 0;
    }
  }
}
