.season-page {
  --season-accent-color: var(--oe-green-800);
  --season-bg-color: var(--oe-surface);
  --season-gradient: var(--spring-gradient);
  --banner-obj-position: top;
  container: season-page-content / inline-size;
  position: relative;

  background-color: var(--season-bg-color);

  .banner-img img {
    object-position: var(--banner-obj-position);
  }

  &.spring {
    --season-bg-color: var(--spring-bg-color);
    --season-accent-color: var(--spring-accent);
    --season-gradient: var(--spring-gradient);
    --season-title-text-bg: var(--spring-gradient-2);
    --season-title-text-desktop-bg: var(--oe-white);
  }

  &.summer {
    --season-bg-color: var(--summer-bg-color);
    --season-accent-color: var(--summer-accent);
    --season-gradient: var(--summer-gradient);
    --season-title-text-bg: var(--summer-gradient-2);
    --season-title-text-desktop-bg: var(--summer-gradient-3);
    --banner-obj-position: center;
  }

  &.fall {
    --season-bg-color: var(--fall-bg-color);
    --season-accent-color: var(--fall-accent);
    --season-gradient: var(--fall-gradient-2);
    --season-title-text-bg: var(--fall-bg-gradient);
    --season-title-text-desktop-bg: var(--fall-gradient);
    --banner-obj-position: 100% 15%;
  }

  &.winter {
    --season-bg-color: var(--winter-bg-color);
    --season-accent-color: var(--winter-accent);
    --season-gradient: var(--winter-gradient);
    --season-title-text-desktop-bg: var(--winter-gradient);
    --season-title-text-bg: var(--winter-gradient);
  }

  .season-header {
    grid-area: header;
    container: season-header / inline-size;

    .heading-display {
      bottom: -4rem;
      text-align: left;
      width: fit-content;
    }

    .heading-title {
      background: var(--season-title-text-bg);
      background-clip: text;
      color: transparent;
      font-size: var(--fs-5xl);
      font-weight: var(--fw-700);
      line-height: normal;
      width: fit-content;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    .banner-img {
      background-color: var(--season-bg-color);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
      transform: translateZ(0);

      @container season-header (width > 900px) {
        height: 85vh;
      }

      &.mobile {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
      }
    }
  }

  .season-body {
    grid-area: content;
    container: season-body / inline-size;
    margin-block: var(--sp-xl);
    margin-inline: auto;
    width: 100%;

    > .port-text > *:not(.full-width) {
      max-width: 100%;
      margin-inline: auto;
    }
  }

  @container season-page-content (width > 600px) {
    .season-header .heading-display {
      bottom: -6rem;
    }

    .season-header .heading-title {
      margin-inline-end: var(--sp-xl);
      padding-inline-start: var(--sp-2xl);
      font-size: var(--fs-7xl);
    }

    .season-body {
      padding-inline: 0;
      margin-block: var(--sp-3xl);
    }
  }

  @container season-page-content (width > 900px) {
    .season-header .heading-display {
      bottom: -2rem;
    }

    .heading-display .heading-title {
      padding-inline-start: var(--sp-2xl);
      font-size: var(--fs-8xl);
      font-weight: var(--fw-900);
    }
    .season-body {
      padding-inline: 0;
      margin-block: 0 var(--sp-4xl);
    }
  }

  @container season-page-content (width > 1200px) {
    .season-body {
      > .port-text > .img-grid {
        max-width: 60rem;
      }
    }
  }

  @container season-page-content (width > 1400px) {
    &.spring,
    &.fall {
      .season-header .heading-display {
        bottom: unset;
        top: 3rem;

        .heading-title {
          background: var(--season-title-text-desktop-bg);
          -webkit-background-clip: text;
          background-clip: text;
        }
      }
    }

    &.summer,
    &.winter {
      .season-header .heading-display {
        bottom: -2.75rem;
      }
    }

    .season-header .heading-display {
      margin-inline-start: 4vw;

      .text-display {
        font-size: var(--fs-8xl);
      }
    }
  }

  /* Season Page Teaser Sections */
  .teaser {
    .feature-layout-grid {
      padding: 0;
    }
  }
}
