.blooming {
    display: flex;
    flex-direction: column;

    .blooming-now {
        position: relative;
        display: grid;
        grid: auto 2fr 2fr / 1fr;
        justify-items: center;
        background-color: #D3D05D;
        width: 100%;
        padding-top: 1.5rem;
        z-index: 1;

        // .blooming-nav {
        //     width: 100%;
        //     display: flex;
        //     justify-content: space-around;
        //     position: absolute;
        //     top: -50px;
        //     left: 0;
        //     z-index: 1;

            .blooming-header {
                position: absolute;
                font-style: italic;
                font-weight: var(--fw-500);
                letter-spacing: .5px;
                font-size: 1.45rem;
                padding: 0 5vw;
                top: -1rem;
                white-space: nowrap;
                align-self: flex-start;
                width: 100%;

                .blooming-header-title {
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 100px;
                        height: 100px;
                        background-color: $pink-100;
                        border-radius: 50%;
                        top: -30px;
                        left: -26px;
                        z-index: -1;
                    }
                }

            }

            // .btn-arrow-next,
            // .btn-arrow-prev {
            //     // display: inline;
            // }
        // }

        .plant-container {
            overflow-x: scroll;
            width: 100%;
            margin: 0 4vw;

            .plant-slider {
                display: flex;
                flex-wrap: nowrap;
                gap: 4vw;
    
                .plant {
                    // padding: .75rem 5vw;
                    // width: 85vw;
                    // aspect-ratio: 8/5;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    position: relative;

                    &:first-of-type {
                        padding-left: 4vw;
                    } 

                    &:last-of-type {
                        padding-right: 4vw;
                    }
                }
                
                .blooming-plant-img {
                    position: relative;
                    // aspect-ratio: 8/5;
                    // height: 100%;
                    margin-bottom: 2vh;
                    
                    img {
                        width: 85vw; 
                        height: auto;
                        border-radius: 7px;
                        aspect-ratio: 8/6;
                        object-fit: cover;
                    }
                }
            }

        }
        

    }
}