.seasons-preview {
    position: relative;
    margin: 8vh 0;

    .season-header-wrapper {

    }

    .season-header {
    }

    .season-img {
        .featured-image {
            width: 100%;
            height: auto;
            border-radius: 0;
        }
    }
    
    .season-body {
        padding: 0 5vw;
        // margin-top: 1rem;
    }

    .seasons-page-link {
        padding: 1.25rem 5vw 0 5vw;
    }
}



