.footer {
  vertical-align: middle;
  justify-content: center;
  width: 100%;
  height: 7rem;
  color: var(--oe-white);
  background-color: var(--season-footer-bg);
  align-self: center;
  align-items: center;

  * {
    color: inherit;
  }
}

body:has(.page-not-found) {
  .footer {
    background-color: var(--oe-grey-900);
  }
}
