.nav {
    position: fixed;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    z-index: 2;
    color: white;

    &.menuOpen {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: hsla(86, 46%, 32%, 1);

        .navLinks {
            display: block;
            list-style: none;
            font-size: 1.5rem;
            margin-top: 10vh;

            .navListItem {
                padding-bottom: 0.5rem;
            }
        }
    }

    .navLinks {
        display: none;
    }

    .menuIcon {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1;
        height: 24px;
        border: none;
        background: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .menuIconBar {
            background-color: white;
            width: 30px;
            height: 4px;

            &.barOne {
            }

            &.barTwo {
            }

            &.barThree {
            }
        }
    }
}
