.common-name {
  padding-block: var(--sp-2);
}
.botanical-name {
  padding-block: var(--sp-1);
}

.plant-name-wrapper {
  container: plant-name-wrapper / inline-size;

  .common-name {
    font-weight: 600;
  }

  hr {
    margin-block: 0;
  }
}
