:root {
    /* TYPOGRAPHY-------------------------- */

    /* fonts */
    /* --title-font: 'Playfair Display', serif; */
    /* --base-font: 'PT Sans', -apple-system, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif; */
    --underline-offset: 2px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply py-5 px-4 w-full text-white font-semibold rounded-lg mb-4 border-none shadow-md cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 bp-900:w-56 bp-1100:py-3 bp-1100:px-4 bg-gradient-to-r from-pink-500 to-pink-600;
    }
    .btn-secondary {
        @apply py-5 px-4 w-full text-white font-semibold rounded-lg mb-4 border-none shadow-md cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 bp-900:w-56 bp-1100:py-3 bp-1100:px-4 bg-gradient-to-r from-green-600 to-lime-800;
    }
    .btn-hollow-primary {
        @apply py-5 px-4 w-full text-pink-500 font-semibold rounded-lg mb-4 border-pink-500 border-2 border-solid shadow-md bg-transparent cursor-pointer focus:outline-none focus:text-white focus:bg-pink-500 focus:border-none bp-900:w-56 bp-1100:py-3 bp-1100:px-4;
    }

    .btn-arrow-right {
        @apply relative bg-white rounded-full w-16 h-16 z-10 before:absolute before:w-4 before:h-4 before:top-[38%] before:left-[36%] before:border-black before:border-solid before:border-spacing-1 before:rotate-[315deg] before:border-b-[5px] before:border-r-[5px] before:border-l-0 before:border-t-0;
    }
    
    .btn-arrow-left {
        @apply relative bg-white rounded-full w-16 h-16 z-10 before:absolute before:w-4 before:h-4 before:top-[38%] before:left-[42%] before:border-black before:border-solid before:border-spacing-1 before:rotate-[135deg] before:border-b-[5px] before:border-r-[5px] before:border-l-0 before:border-t-0;
    }
}

/* minimal reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: var(--base-font);
    font-size: var(--base-font-size);
    font-weight: var(--base-fw); */
    line-height: normal;
    color: #3f403f;
}

/* Landing Page */
#landingImageContainer {
    background-image: var(--bg-small);

    @media screen and (min-width: $breakpoint-900) {
        background-image: var(--bg-large);
    }
}

.homepage-content .title {
    font-size: calc(2.5rem + 1vw);
}

a[href] {
    color: inherit;
    text-underline-offset: var(--underline-offset);
    font-weight: var(--fw-600);
    /* text-decoration: none; */
}

a:hover,
a:focus,
a:active {
}

.page-content {
    position: relative;
}
