:root {
    /* TYPOGRAPHY-------------------------- */

    /* fonts */
    /* --title-font: 'Playfair Display', serif; */
    /* --base-font: 'PT Sans', -apple-system, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif; */
    --underline-offset: 2px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Raleway, system-ui, sans-serif;
    }
    * {
        line-height: normal;
        color: #272827;
    }
}

@layer components {
    .btn-primary {
        @apply py-5 px-5 w-auto min-w-14 bp-700:w-auto bp-700:min-w-13 text-slate-50 text-base font-normal tracking-[.8px] rounded-lg mb-4 border-none shadow-md cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 bg-gradient-to-r from-oe-pink-500 to-oe-pink-600;
    }
    .btn-secondary {
        @apply py-5 px-5 w-auto min-w-14  bp-700:w-auto bp-700:min-w-13 text-slate-50 text-base font-normal tracking-[.8px] rounded-lg mb-4 border-none shadow-md cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 bg-gradient-to-r from-oe-blue-green-light-700 to-oe-blue-green-light-800;
    }
    .btn-hollow-primary {
        @apply py-5 px-5 w-auto min-w-14  bp-700:w-auto bp-700:min-w-13 text-pink-500 text-base font-normal tracking-[.8px] rounded-lg mb-4 border-pink-500 border-2 border-solid shadow-md bg-transparent cursor-pointer focus:outline-none focus:text-white focus:bg-pink-500 focus:border-none;
    }

    .btn-arrow-right {
        @apply relative bg-oe-pink-200 rounded-full w-16 h-16 z-10 before:absolute before:w-4 before:h-4 before:top-[38%] before:left-[36%] before:border-black before:border-solid before:border-spacing-1 before:rotate-[315deg] before:border-b-[5px] before:border-r-[5px] before:border-l-0 before:border-t-0;
    }

    .btn-arrow-left {
        @apply relative bg-oe-pink-200 rounded-full w-16 h-16 z-10 before:absolute before:w-4 before:h-4 before:top-[38%] before:left-[42%] before:border-black before:border-solid before:border-spacing-1 before:rotate-[135deg] before:border-b-[5px] before:border-r-[5px] before:border-l-0 before:border-t-0;
    }

    .img-base {
        @apply relative w-fit z-0 overflow-hidden bp-800:rounded-md [&>figcaption]:text-white [&>figcaption]:bottom-0 [&>figcaption]:overflow-hidden [&>figcaption]:bg-black [&>figcaption]:opacity-70 [&>figcaption]:text-base [&>figcaption]:py-0 [&>figcaption]:px-3;
    }

    .header-base {
        @apply relative w-full z-10 bg-transparent [&>h2]:relative [&>h2]:text-xl [&>h2]:italic [&>h2]:z-0 [&_span]:font-extralight [&_span]:text-2xl [&_span]:not-italic [&_span]:uppercase [&_span]:bp-400:text-3xl [&>h2]:bp-800:text-lg bp-800:[&_span]:text-3xl [&>h2]:bp-1000:text-xl bp-1000:[&_span]:text-4xl;
    }
}

/* Landing Page */
#landingImageContainer {
    background-image: var(--bg-small);

    @media screen and (min-width: $breakpoint-900) {
        background-image: var(--bg-large);
    }
}

a[href] {
    text-underline-offset: 2px;
}

*.hide-scroll::-webkit-scrollbar {
    display: none;
}

/* .plant-pg-port-text p {
    padding: 0 1.5rem;
    margin-top: 1rem;
}

@media screen and (min-width: 800px) {
    .plant-pg-port-text p {
        padding: 0 2rem;
    }
} */
