/* CSS imports must be at the top of the file */  

@import "./variables.css";
@import "./colors.css";
@import "./utility.css";
@import "./components/button.css";
@import "./components/heading.css";
@import "./components/teaser.css";
@import "./pages/home.css";
@import "./pages/plant-pages.css";
@import "./pages/plant-list.css";
@import "./pages/seasons-pages.css";
@import "./pages/about.css";
@import "tailwindcss/base";
@import "./tw-base.css";

@import "tailwindcss/components";
@import "./tw-components.css";

@import "tailwindcss/utilities";

.banner-img:not(.mobile) {
  display: none;
}

@media screen and (min-width: 900px) {
  .banner-img:not(.mobile) {
    display: block;
  }

  .banner-img.mobile {
    display: none;
  }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: .75; }
    100% { opacity: 1; }
  }