@import 'variables.css';

@layer components {
  /* Background Container */
  .bg-container {
    container: container / inline-size;
    background-image: var(--container-bg-image);
    background-color: var(--container-bg-color);
    background-blend-mode: var(--container-bg-blend-mode);
    background-position: var(--container-bg-position);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
