@layer components {
    .btn-primary {
      @apply py-5 px-8 w-auto min-w-10 text-slate-50 text-base font-normal tracking-[.8px] rounded-lg mb-4 border-none shadow-md cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 bg-gradient-to-r from-oe-pink-500 to-oe-pink-600;
    }
    .btn-secondary {
      @apply py-5 px-8 w-auto min-w-10 text-slate-50 text-base font-normal tracking-[.8px] rounded-lg mb-4 border-none shadow-md cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 bg-gradient-to-r from-oe-blue-green-light-700 to-oe-blue-green-light-800;
    }
    .btn-hollow-primary {
      @apply py-5 px-8 w-auto min-w-10 text-pink-500 text-base font-normal tracking-[.8px] rounded-lg mb-4 border-pink-500 border-2 border-solid shadow-md bg-transparent cursor-pointer focus:outline-none focus:text-white focus:bg-pink-500 focus:border-none;
    }
    .btn-arrow-right {
      @apply relative bg-oe-pink-200 rounded-full w-16 h-16 z-10 before:absolute before:w-4 before:h-4 before:top-[38%] before:left-[36%] before:border-black before:border-solid before:border-spacing-1 before:rotate-[315deg] before:border-b-[5px] before:border-r-[5px] before:border-l-0 before:border-t-0;
    }
    .btn-arrow-left {
      @apply relative bg-oe-pink-200 rounded-full w-16 h-16 z-10 before:absolute before:w-4 before:h-4 before:top-[38%] before:left-[42%] before:border-black before:border-solid before:border-spacing-1 before:rotate-[135deg] before:border-b-[5px] before:border-r-[5px] before:border-l-0 before:border-t-0;
    }
    .btn-expand {
      @apply w-full;
    }
    .img-base {
      @apply relative w-fit z-0 overflow-hidden cursor-pointer bp-800:rounded-md;
    }
    .header-base {
      @apply relative w-full z-10 bg-transparent mb-2 bp-400:pl-0 [&>h2]:relative [&>h2]:font-thin [&>h2]:text-xl [&>h2]:z-0 [&_span]:font-thin [&_span]:text-inherit [&_span]:uppercase [&_span]:text-3xl [&>h2]:bp-800:text-xl bp-800:[&_span]:text-3xl [&>h2]:bp-1000:text-2xl bp-1000:[&_span]:text-4xl;
    }

    .bg-container { 
      container: container / inline-size;
      background-image: var(--container-bg-image);
      background-image: var(--container-bg-image);
      background-color: var(--container-bg-color);
      background-blend-mode: var(--container-bg-blend-mode);
      background-position: var(--container-bg-position);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .image-card {
      display: grid;
      grid-template-columns: 1fr 2fr;

      .text-container {
        padding-block: .75rem;
        padding-inline: .45rem;
      }
    }
  }