@import 'variables.css';

@layer components {
  .btn-primary {
    @apply min-w-10 text-slate-50 text-base font-normal tracking-[.8px] rounded-lg mb-4 border-none shadow-md cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 bg-gradient-to-r from-oe-pink-500 to-oe-pink-600;
  }
  .btn-secondary {
    @apply min-w-10 text-slate-50 text-base font-normal tracking-[.8px] rounded-lg mb-4 border-none shadow-md cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
  .btn-hollow-primary {
    @apply min-w-10 text-pink-500 text-base font-normal tracking-[.8px] rounded-lg mb-4 border-pink-500 border-2 border-solid shadow-md bg-transparent cursor-pointer focus:outline-none focus:text-white focus:bg-pink-500 focus:border-none;
  }
  .btn-arrow-right {
    @apply relative bg-oe-pink-200 rounded-full w-16 h-16 z-10 before:absolute before:w-4 before:h-4 before:top-[38%] before:left-[36%] before:border-black before:border-solid before:border-spacing-1 before:rotate-[315deg] before:border-b-[5px] before:border-r-[5px] before:border-l-0 before:border-t-0;
  }
  .btn-arrow-left {
    @apply relative bg-oe-pink-200 rounded-full w-16 h-16 z-10 before:absolute before:w-4 before:h-4 before:top-[38%] before:left-[42%] before:border-black before:border-solid before:border-spacing-1 before:rotate-[135deg] before:border-b-[5px] before:border-r-[5px] before:border-l-0 before:border-t-0;
  }
  .img-base {
    @apply relative w-fit z-0 overflow-hidden cursor-pointer bp-800:rounded-md;
  }

  /* Button Components ****************************/
  .btn-expand {
    width: 100%;
  }

  /* Background Container */
  .bg-container {
    container: container / inline-size;
    background-image: var(--container-bg-image);
    background-color: var(--container-bg-color);
    background-blend-mode: var(--container-bg-blend-mode);
    background-position: var(--container-bg-position);
    background-repeat: no-repeat;
    background-size: cover;
  }

}
