/* Hide navigation and footer when the studio is rendered */
body:has(#sanity) {
  #mainNav,
  #oeFooter {
    display: none;
  }

  #sanity {
    .oe-site-body {
      /* * {
        color: var(--oe-text-body);
        border-style: none;
      } */

      a[href] {
        color: var(--oe-link-blue);
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  .draftmode-btn {
    display: none;
  }
}
